/**
 * Fonts
 */
@font-face {
    font-family:"Inconsolata";
    src:url("../fonts/Inconsolata-Bold.woff2") format("woff2"),
    url("../fonts/Inconsolata-Bold.woff") format("woff");
    font-weight:bold;
    font-style:normal;
    font-display:swap;
}

@font-face {
    font-family:"Inconsolata";
    src:url("../fonts/Inconsolata-Regular.woff2") format("woff2"),
    url("../fonts/Inconsolata-Regular.woff") format("woff");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}