/**
 * Variables
 */
$font-size: 1rem;
$font-family: 'Finlandica', sans-serif;
$page-width: 768px;
$color-primary: #f1c400;
$color-on-primary: #141414;

* {
  box-sizing: border-box;
  border: none;
}

body {
  font-family: $font-family;
  padding: 20px;
  margin: 0;
}

.container {
  max-width: $page-width;
  margin-left: auto;
  margin-right: auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Inconsolata", monospace;
}

h1, .footer {
  text-align: center;
}

.option-color {
  display: flex;
  align-items: center;
}

.option-color .color {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 0;
  margin-right: 10px;
  box-shadow: 0 0 0 1px #ccc;
  border-radius: 4px;
}