/****************************
 * Easy Select Core (no edit)
****************************/
.easy-select {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.easy-select * {
  box-sizing: border-box;
}

/* keep select tag invisible over the current text, but still clickable */
.es-native select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

/* this will handle the visual display */
.es-current {
  position: relative;
  z-index: 1;
  transition: all .3s ease;
  user-select: none;
}

/* custom dropdown */
.easy-select:not(.es-dropdown-open) .es-dropdown {
  opacity: 0;
  visibility: hidden;
  transform: scale(.9);
}

.es-dropdown {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  z-index: 2;
  width: 100%;
  transition: all .2s ease;
  transform-origin: top left;
}

.es-dropdown {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
  }

  ul li {
    padding: 0;
  }
}

/* option */
.es-option {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  transition: all .3s ease;
}

/* disabled */
.es-disabled {
  cursor: not-allowed;

  select {
    pointer-events: none;
  }
}

.es-option.disabled,
.es-disabled .es-current {
  opacity: .5;
  pointer-events: none;
}

/****************************
 * Easy Select - Default theme
****************************/
.easy-select {
  --es-select-w: 300px;
  --es-dropdown-w: 300px;
  --es-dropdown-h: 300px;
  --es-select-w-mobile: 100%;
  --es-dropdown-w-mobile: 100%;

  --es-option-h: 45px;

  --es-bg: #fff;
  --es-bg-hover: #999;
  --es-text: #000;
  --es-text-hover: #fff;

  width: 100%;
  max-width: var(--es-select-w);
}

/* current */
.es-current {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;

  .es-option {
    padding-right: 40px;
  }

  .es-option:after {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    content: "▼";
    font-size: .8em;
    color: inherit;
    display: inline-block;
    margin-left: 10px;
    transition: transform .3s ease;
  }
}


.easy-select.es-dropdown-open .es-current .es-option:after {
  transform: translateY(-50%) rotate(180deg);
}

/* dropdown showing */
.easy-select.es-dropdown-open {
  z-index: 2;
}

/* dropdown */
.es-dropdown {
  max-width: var(--es-dropdown-w);
  background: var(--es-bg);
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.es-dropdown ul {
  max-height: var(--es-dropdown-h);

  li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
}

/* option */
.es-option {
  line-height: 1.1;
  min-height: var(--es-option-h);
  padding: 5px 20px;
}

/* dropdown hover: off */
.es-dropdown:hover .es-option.active,
.es-option {
  background: var(--es-bg);
  color: var(--es-text);
}

/* dropdown hover: on */
.es-native:not(.es-disabled):hover .es-current .es-option,
.es-dropdown:hover .es-option.active:hover,
.es-option:hover,
.es-option.active {
  color: var(--es-text-hover);
  background: var(--es-bg-hover);
}

/* custom scrollbar */
.es-dropdown ul {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #eee;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
}


/****************************
 * Responsive
****************************/
@media only screen and (max-width: 480px) {
  .easy-select {
    --es-select-w: var(--es-select-w-mobile);
    --es-dropdown-w: var(--es-dropdown-w-mobile);
  }
}