/****************************
 * Easy Select Core (no edit)
****************************/
.easy-select {
  /* select tag */
  --es-height: 40px;
  --es-width: 300px;
  --es-width-mobile: 100%;

  /* dropdown */
  --es-dropdown-width: 300px;
  --es-dropdown-height: 300px;
  --es-dropdown-width-mobile: 100%;
  --es-scrollbar-width: 3px;
  --es-scrollbar-track: #f6f7f9;
  --es-scrollbar-thumb: #e0e7ee;

  /* option */
  --es-bg: #fff;
  --es-bg-hover: #f6f7f9;
  --es-text: #445870;
  --es-text-hover: #445870;
  --es-border: 1px solid #e0e7ee;
  --es-radius: 5px;

  //width: 100%;
  //max-width: var(--es-width);

  display: inline-block;
  position: relative;
  z-index: 1;
  cursor: pointer;

  /* Native select: keep select tag invisible over the current text, but still clickable */
  &.es-native select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }

  /* this will handle the visual display */
  .es-current {
    position: relative;
    z-index: 1;
    transition: all .3s ease;
    user-select: none;
  }
}

/* disabled: wrapper and option */
.es-disabled {
  cursor: not-allowed;
  opacity: .8;
}

/****************************
 * Responsive
****************************/
@media only screen and (max-width: 480px) {
  .easy-select {
    --es-width: var(--es-width-mobile);
    --es-dropdown-width: var(--es-dropdown-width-mobile);
  }
}

/****************************
 * Current
****************************/
.es-current {
  border: var(--es-border);
  border-radius: var(--es-radius);
  overflow: hidden;

  .es-option {
    padding-right: 40px;
  }

  /* icon */
  .es-option:after {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%) rotate(90deg);
    transform-origin: center;
    content: "›";
    font-size: 25px;
    color: inherit;
    display: inline-block;
    margin-left: 10px;
    transition: transform .3s ease;
  }
}

/* icon > open */
.easy-select.es-dropdown-open .es-current .es-option:after {
  transform: translate(-3px, -50%) rotate(270deg);
}


/****************************
 * Dropdown
****************************/
/* not open */
.easy-select:not(.es-dropdown-open) .es-dropdown {
  opacity: 0;
  visibility: hidden;
  transform: scale(.9);
}

/* open */
.easy-select.es-dropdown-open {
  z-index: 2;
}

.es-dropdown {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  z-index: 2;
  min-width: 100%;
  transition: all .2s ease;
  transform-origin: top left;
  max-width: var(--es-dropdown-width);
  background: var(--es-bg);
  border: var(--es-border);
  border-radius: var(--es-radius);
  overflow: hidden;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    max-height: var(--es-dropdown-height);

    li {
      padding: 0;
    }

    /* custom scrollbar */
    &::-webkit-scrollbar {
      width: var(--es-scrollbar-width);
      height: var(--es-scrollbar-width);
    }

    &::-webkit-scrollbar-track {
      background: var(--es-scrollbar-track);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--es-scrollbar-thumb);
    }
  }
}


/****************************
 * Option
****************************/
.es-option {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  transition: all .3s ease;
  line-height: 1.1;
  min-height: var(--es-height);
  padding: 5px 20px;
  white-space: nowrap;

  &.es-active {
    font-weight: 700;
  }
}

/* dropdown hover: off */
.es-dropdown:hover .es-option.es-active,
.es-option {
  background: var(--es-bg);
  color: var(--es-text);
}

/* dropdown hover: on */
.es-native:not(.es-disabled):hover .es-current .es-option,
.es-dropdown:hover .es-option.es-active:hover,
.es-option:hover,
.es-option.es-active {
  color: var(--es-text-hover);
  background: var(--es-bg-hover);
}